@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital,wght@1,500&family=Poppins:ital,wght@0,200;1,100;1,200&family=Roboto:ital,wght@1,100&display=swap');






   
   .background {
      background-image: url(http://127.0.0.1:5500/lesson%204/pexels-photo-459762.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .background h1 {
      font-weight: 200;
      color: aliceblue;
      text-align: center;
      margin-right: auto; 
      margin-bottom: 200px; 
      margin-left: 80px;
    }
    
    .background a {
      border: 2px solid rgb(212, 212, 212);
      text-decoration: none;
      background-color: wheat;
      color: white;
      font-weight: bold;
      padding: 10px 20px;
      text-align: center;
      justify-content: center;
      margin-right: 1000px;
    }
    
    .tag {
      margin-top: 94;
      margin-bottom: 364; 
    }
    
    * {
      font-family: 'Poppins', sans-serif; 
      margin: 0;
    }
    footer {
      background-color: rgba(1, 5, 9, 0.671);
      text-align: center;
      display: flex;
      justify-content: center ;
      padding: 30px;
      
    }
    